Package: com.wavelink.bundleidsxi
Name: BundleIDsXI
Depends: applist, firmware (<< 13.0)
Conflicts: com.td.bundleidsxi, com.wavelink.bundleidsxinoappicons
Version: 1.2.1
Architecture: iphoneos-arm
Description: App to see installed app bundle IDs.
Maintainer: TD
Author: TD
Section: Utilities
