Package: com.wavelink.bundleidsxi
Name: BundleIDsXI
Depends: applist
Conflicts: com.td.bundleidsxi
Version: 1.1.1-2
Architecture: iphoneos-arm
Description: App to see installed app bundle IDs.
Maintainer: TD
Author: TD
Section: Utilities
